{% extends 'base.html.twig' %}

{% block body %}
    <h1>Travels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Destination</th>
                <th>Link</th>
                <th>Webprice</th>
                <th>Targetprice</th>
                <th>Date</th>
                <th>Roundtrip</th>
                <th>Returndate</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel in travels %}
            <tr>
                <td><a href="{{ path('travel_show', { 'id': travel.id }) }}">{{ travel.id }}</a></td>
                <td>{{ travel.destination }}</td>
                <td>{{ travel.link }}</td>
                <td>{{ travel.webPrice }}</td>
                <td>{{ travel.targetPrice }}</td>
                <td>{% if travel.date %}{{ travel.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if travel.roundTrip %}Yes{% else %}No{% endif %}</td>
                <td>{% if travel.returnDate %}{{ travel.returnDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if travel.createdAt %}{{ travel.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if travel.updatedAt %}{{ travel.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('travel_show', { 'id': travel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('travel_edit', { 'id': travel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('travel_new') }}">Create a new travel</a>
        </li>
    </ul>
{% endblock %}
